[Desktop Entry]
Version=1.0
Type=Application
Name=rofi-launcher
Comment=
Exec='/home/aldih/.config/wm script/rofi-select/rofi-select.sh'
Icon=applications-all
Path=
Terminal=false
StartupNotify=false
