[Desktop Entry]
Version=1.0
Type=Application
Name=powermenu
Comment=
Exec='/home/aldih/.config/wm script/powermenu/powermenu.sh'
Icon=kshutdown
Path=
Terminal=false
StartupNotify=false
