* {
  blue: #383c4a;
  purple: #e2afec;
  darkpurple: #a660c3;
  fg: #d3dae3;
  fg-alt: #2f343f;
  white: #fcfcfc;

  bg: #fcfcfc;
  bg-alt: #f5f6f7;
  bg-selected: #2f343f;
  t: rgba(47, 52, 63, 25%);
}
